body{
    background-image: url(./page3.jpeg);
    filter: blur(-1px);
    -webkit-filter: blur(-1px);
    background-color:aquamarine;
  

}

.page4{
    background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 400px;
  max-height: 150px;
  padding: 20px 40px;
border: 1px solid orange;
box-shadow: 1px 2px 2px 3px salmon;
}
.block{
    display: flex;
    justify-content: center;
    margin-top: 300px;



}
.btn{
    background-color: orange;
    border-radius: 30px;
    padding: 10px;
}