body{
    background-image: url(./page1.jpeg);
    filter: blur(2px);
    -webkit-filter: blur(0.5px);
    background-color: beige;
  

}

.page4{
    border-radius: 10px;
    border: 2px solid orange;
    height: 140px;
    width: 250px;
    text-align: center;
text-emphasis-color: orange;
    box-shadow: 2px 3px 2px 2px;


}
.block{
    display: flex;
    justify-content: center;
    margin-top: 300px;



}
.btn{
    background-color: orange;
    border-radius: 30px;
    padding: 10px;
}